---
layouts:base
title: Online Schedule
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {font-family: Arial,sans-serif;
      background-color: #0CB3C0;
}


h1 {
    text-align: center;
    text-decoration: underline;
}

h4 {
	text-align: center;

}

p {
   text-align: center;
   text-indent: 50px;
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
   }


  </style>
 </head>
<body>

<div class="container">

  <h1>Spring Semester Study Group Sessions</h1>

  <artcile>
  <p>Here are the list of courses that will have a study sessions this Spring Semester.</p>
  <p>Study sessions are not held on campus break and univeristy holidays.</p>
  <p>Please call or email the department or the library at 773-555-1234 ahead of time because schedules may change.</p>
  </article>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Course Number/Name</th>
        <th>Study Room Location</th>
        <th>Study Room Type</th>
        <th>Session Time</th>
        <th>Contact Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENG 101/Intro To English</td>
        <td>Main Library/Third Floor</td>
        <td>Computer/Writing Lab</td>
        <td>4:00P.M-6:00P.M/Mon.thru Fri.</td>
        <td>773-555-1234,Ext.2 or library@townsville.edu</td>
      </tr>
      <tr>
       <td>BIO 322/Intro to Biology</td>
        <td>Science Department/First Floor</td>
        <td>Collaboration Study Room/Lab</td>
        <td>3:30P.M-6:30P.M/Mon.thru Fri.</td>
        <td>773-555-5432,Ext.5 or science@townsville.edu</td>
      </tr>
      <tr>
        <td>MTH 101/Intro To Math</td>
        <td>Math Department/First Floor</td>
        <td>Collabroation Room</td>
        <td>3:00P.M-8:00P.M/Mon. thru Fri.</td>
        <td>773-555-4567,Ext.10 or math@townsville.edu</td>
      </tr>
       <tr>
        <td>CHM 101/Intro To Chemistry</td>
        <td>Science Department/Second Floor</td>
        <td>Collaboration Study Room/Lab</td>
        <td>3:30P.M-6:30P.M/Mon.thru Fri.</td>
        <td>773-555-5432,Ext.2 or science@townsville.edu</td>
      </tr>
	       <tr>
        <td>Soc 102/Intro To Soical Sciences</td>
        <td>Main Library/Basement</td>
        <td>Study Lounge</td>
        <td>1:00P.M-3:30P.M/Mon.& Thurs.</td>
        <td>773-555-1234,Ext.1 or library@townsville.edu</td>
      </tr>
    </tbody>
  </table>
</div>

<footer>
<section>
<h4>Copyright Townsville University Library 2018</h4>
<p>1234 Main Street</p>
<p>Townsville,IL 01010</p>
<p>(773)555-1234</p>
<p>library@townsville.edu</p>
</section>
</footer>

</body>
</html>
